[v1]
host: https://something.v1host.com
enterprise: USUALYINCAPS
user: myv1login
pass: myv1passwd
story_cookie: /path/that/can/be/written/to.sty.cookie
task_cookie: /path/that/can/be/written/to.tsk.cookie

[bot]
server: irc.freenode.net
port: 6667
channel: #mycoolircchan
channel_pass: maybeifyouhaveit
nick: mycoolircnic